<div class="mini-view">
  <div class="votes">
      <div class="mini-counts">
        <span><%=question.votes.sum(:points)%></span>
      </div>
      <div>vote</div>
  </div>

  <div class="answers-container">
      <div class="mini-counts">
        <span><%=question.answers.count%></span>
      </div>
      <div>answers</div>
  </div>

  <div class="question-container">
    <h2><a href="/questions/<%=question.id%>"><%= question.title %></a></h2>
    <span class="date"><%= long_form_date(question.created_at) %></span>
  </div>
</div>








