<div class="mini-views">
  <div class="votes">
      <div class="mini-counts"><span><%=question.votes.count%></span></div>
      <div>vote</div>
  </div>
  <div class="answers">
      <div class="mini-counts"><span><%=question.answers.count%></span></div>
      <div>answers</div>
  </div>
</div>
<div class="questions">
	<h2><a href="/questions/<%=question.id%>"><%= question.title %></a></h2>
	<article><%= question.body %></article>
	<span class="date"><%= long_form_date(question.created_at) %></span>
</div>
