<div class="question-main">
  <h2><%=@question.title%></h2>
  <article><%=@question.body%></article>
  <% @question.answers.each do |answer| %>
    <%= erb :"/answers/_show", locals: { answer: answer } %>
  <% end %>



  <!-- vote stuff -->
  <div class="vote">
    <%= erb :"_votes", locals:{voteable: @question, vote_value: 1, vote_type: "upvote"} %>
    <%= erb :"_votes", locals:{voteable: @question, vote_value: -1, vote_type: "downvote"} %>
  </div>
  <!-- vote stuff -->

