<!-- vote stuff -->
<div class="vote">
  <%= erb :"_votes", locals:{voteable: @question, vote_value: 1, vote_type: "upvote"} %>
   <span>Total Votes: <%= @question.votes.sum(:points) %></span>
  <%= erb :"_votes", locals:{voteable: @question, vote_value: -1, vote_type: "downvote"} %>
</div>
<!-- vote stuff -->

<h2><%=@question.title%></h2>
<p><%=@question.body%></p>

<h3>List of comments:</h3>
<% @question.comments.each do |comment| %>
  <%= erb :"/comments/_show", locals: { comment: comment } %>
<% end %>

<a href="/questions/<%= @question.id %>/comments/new">add comment</a>


<%= erb :"/comments/_comments_form", locals:{commentable: @question} %>

<h3>List of answers:</h3>
<% @question.answers.each do |answer| %>
  <%= erb :"/answers/_show", locals: { answer: answer } %>
<% end %>

<!-- add an answer to the question if logged in -->
<% if logged_in? %>
  <%= erb :"/answers/_new" %>
<% end %>
<!-- end -->




