<div class="answer_container">
  <p class="answer-text"><%= answer.body %></p>

  <a href="/answers/<%= answer.id %>/comments/new">add comment</a>

    <%= erb :"/comments/_comments_form", locals: {commentable: answer} %>

  <div class="vote">
    <%= erb :"_votes", locals:{voteable: answer, vote_value: 1, vote_type: "upvote"} %>
    <span>Total Votes: <%= answer.votes.sum(:points) %></span>
    <%= erb :"_votes", locals:{voteable: answer, vote_value: -1, vote_type: "downvote"} %>
  </div>
</div>

